<!-- page content -->
<div data-th-fragment="fragment-form">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="x_panel">
				<form id="demo-form2" data-parsley-validate th:object="${produto}"
					th:action="@{/produto/save}" th:method="post"
					class="form-horizontal form-label-left">

					<div class="alert alert-danger" th:text="${error}"
						th:if="${not #strings.isEmpty(error)}"></div>
					<div class="alert alert-success" th:text="${sucesso}"
						th:if="${not #strings.isEmpty(sucesso)}"></div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"
							for="first-name">Nome <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="nome" name="nome" th:field="*{nome}"
								required="required" class="form-control col-md-7 col-xs-12" />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"
							for="last-name">SKU <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="last-name" name="sku" th:field="*{sku}"
								required="required" class="form-control col-md-7 col-xs-12">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"
							for="last-name">Valor unitário <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="last-name" name="valorUnitario"
								th:field="*{valorUnitario}" required="required"
								class="form-control col-md-7 col-xs-12">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12"
							for="last-name">Quantidade Estoque <span class="required">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<input type="text" id="last-name" name="quantidadeEstoque"
								th:field="*{quantidadeEstoque}" required="required"
								class="form-control col-md-7 col-xs-12">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Categoria</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<select class="form-control" th:field="*{categoria}">
								<option th:value="NULL">--- Selecione ---</option>
								<option th:each="categoria : ${categorias}"
									th:value="${categoria.id}" th:text="#{${categoria.nome}}">Wireframe</option>
							</select>
						</div>
					</div>
					<div class="ln_solid"></div>

					<div class="form-group">
						<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
							<button class="btn btn-primary" type="button">Cancel</button>
							<button class="btn btn-primary" type="reset">Reset</button>
							<button type="submit" class="btn btn-success">Submit</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<!-- /page content -->
